.aboutUsHeders {
    background-image: url(../assets/img/aboutUsbg.png);
}
.aboutUsBoxTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team {
    padding: 77px 0 118px 0;
    background-color: #eef1ec;
    .teamContainerPhoto {
        display: flex;
        justify-content: space-between;
        .teamContainerPhoto__card {
            width: 300px;
            display: flex;
            flex-direction: column;
            .teamContainerPhoto__Joyce {
                width: 300px;
                height: 180px;
                background-image: url(../assets/img/joyse.png);
            }
            .teamContainerPhoto__Angela {
                width: 300px;
                height: 180px;
                background-image: url(../assets/img/angila.png);
            }
            .teamContainerPhoto__James {
                width: 300px;
                height: 180px;
                background-image: url(../assets/img/james.png);
            }
            h3 {
                font-family: "Roboto";
                font-size: 15px;
                font-weight: 500;
                line-height: 1;
                color: #0f5f5c;
                margin-top: 10px;
            }
            p {
                font-family: "Roboto";
                font-size: 14px;
                color: #83a7a5;
            }
        }
    }
}
.aboutUsDownload {
    background-image: url(../assets/img/aboutusbgfooter.png);

    .container {
        .download__content {
            .aboutUsDownload__text {
                h2 {
                    color: white;
                }
                p {
                    color: white;
                }
            }
            .aboutUsDownload__button {
                background-color: #49732f;
            }
        }
    }
}
@media (max-width:950px){
    .team {
    .teamContainerPhoto {
        
        flex-direction: column;
        align-items: center;
    }
}
}