.contactUsHeader {
    background: none;
    padding-bottom: 0;
    .contactNavbarBorder {
        margin-bottom: 0;
    }
    .contactUsHeader__brand {
        color: black;
    }
    .headers__tel {
        .contactUsHeader__iconTel {
            background-image: url(../assets/img/pricingTel.png);
        }
        .contactUsHeader__textTel {
            color: black;
        }
    }
}
.cotactMapImage {
    height: 400px;
    background-image: url(../assets/img/contactMap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 75px;
}
.getInTouch {
    padding: 75px 0 100px 0;
    .getInTouch__formContainer {
        display: flex;
        justify-content: space-around;
        align-items: start;
        .form {
            display: flex;
            flex-direction: column;
            width: 510px;
            .form__name {
                height: 46px;
                display: block;
                box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.12);
                border: solid 1px #c1d3d2;
                border-top: none;
                margin-bottom: 26px;
                padding-left: 20px;
                &::placeholder {
                    font-family: "Roboto";
                    font-size: 14px;
                    color: #83a7a5;
                }
            }
            .form__email {
                height: 46px;
                display: block;
                box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.12);
                border: solid 1px #c1d3d2;
                border-top: none;
                margin-bottom: 26px;
                padding-left: 20px;
                &::placeholder {
                    font-family: "Roboto";
                    font-size: 14px;
                    color: #83a7a5;
                }
            }
            .form__phone {
                height: 46px;
                display: block;
                box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.12);
                border: solid 1px #c1d3d2;
                border-top: none;
                margin-bottom: 26px;
                padding-left: 20px;
                &::placeholder {
                    font-family: "Roboto";
                    font-size: 14px;
                    color: #83a7a5;
                }
            }
            .form__massage {
                height: 124px;
                box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.12);
                border: solid 1px #c1d3d2;
                background-color: #ffffff;
                border-top: none;
                margin-bottom: 26px;
                padding-left: 20px;
                &::placeholder {
                    font-family: "Roboto";
                    font-size: 14px;
                    color: #83a7a5;
                }
            }
            .form__button {
                width: 192px;
                height: 42px;
                border-radius: 3px;
                border: none;
                background-color: #6fb048;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-family: "Montserrat";
                font-size: 13px;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
        .formInfo {
            display: flex;
            flex-direction: column;
            width: 342px;
            height: 273px;
            border: dashed 2px #c1d3d2;
            padding: 41px 0 56px 38px;

            h3 {
                font-family: "Roboto";
                font-size: 22px;
                color: #0f5f5c;
            }
            p {
                font-family: "Roboto";
                font-size: 15px;
                line-height: 1.47;
                color: #83a7a5;
            }
            span {
                font-family: "Roboto";
                font-size: 15px;
                line-height: 1.4;
                color: #0f5f5c;
            }
        }
    }
}
@media (max-width: 900px) {
    .getInTouch {
        padding: 75px 0 100px 0;
        .getInTouch__formContainer {
            flex-direction: column;
            align-items: center;
            .form {
                display: flex;
                flex-direction: column;
                max-width: 90%;
                margin-bottom: 40px;
               
            }
             .formInfo{
                    width: 300px;
                }
        }
    }
}
