@media (max-width: 800px) {
    .perfectTemplate__content {
        flex-direction: column;
        align-items: center;
        .perfectTemplate__img {
            width: 90% ;
        }
        .perfectTemplate__text{
            width: 90% ;
        }
    }

    .containerSubscription {
        display: flex;
        flex-direction: column;
        width: 320px;
        align-items: center;
        .containerSubscription__card {
            width: 100% ;
        }
    }
    .containerSelect {
        flex-direction: column;
        align-items: center;
    }
}
