@font-face {
    font-family: "ProximaNova";
    src: url(../assets/fonts/11096.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}
