.pricingHeders {
    background: none;
    background-color: #eef1ec;
    padding-bottom: 52px;
    .pricingNavbarBorder {
        margin-bottom: 0;
    }
    .pricingBrand {
        color: black;
    }
    .headers__tel {
        .pricingHeaders__iconTel {
            background-image: url(../assets/img/pricingTel.png);
        }
        .pricingHeaders__textTel {
            color: black;
        }
    }
}
.pricingPadding {
    padding: 50px 0 0 0;
    .containerSubscription {
        margin: 0 auto;
        .pricingSubscription {
            margin-bottom: 25px;
            width: 200px;
        }
    }
}
.prisingFreeText {
    font-family: "Roboto";
    font-size: 14px;
    color: #83a7a5;
    text-align: center;
}
.prising .containerSubscription .pricingSubscription {
    margin-bottom: 25px;
    align-items: center;
}
.pricingContainer {
    padding: 78px 0 97px 0;
}
.containerSelect {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
    .containerSelect__card {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.5;
        color: #83a7a5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        & p::before {
            content: url(../assets/img/select.png);
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}
