@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variable.scss";
@import "./fonts.scss";

body {
    font-family: "Roboto";
    margin: 0;
    margin: 0 auto;
}

.container {
    max-width: 1056px;
    margin: 0 auto;
}
.title {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    color: #0f5f5c;
    margin-bottom: 20px;
}
.titleDecoration {
    width: 50px;
    height: 1px;
    background-color: #6fb048;
    margin: 0 auto;
    margin-bottom: 20px;
}
.subTitle {
    font-family: "Roboto";
    font-size: 15px;
    text-align: center;
    color: #83a7a5;
    margin-bottom: 69px;
}
.navButton {
    width: 110px;
    height: 32px;
    border-radius: 2px;
    background-color: #6fb048;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Montserrat';
    text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
}

.myItem {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    .nav-link {
        color: rgba(255, 255, 255, 0.7) !important;
        line-height: 1.62;
        text-transform: uppercase;
    }
}

.headers {
    background-image: url(../assets/img/headBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 195px;
    .navbarBorder {
        border-bottom: 1px solid #7ba2a3;
        margin-bottom: 213px;
    }
    .myBrand {
        font-family: "ProximaNova";
        font-size: 28.5px;
        color: #ffffff;
        margin-right: 26px;
    }
    .headers__tel {
        display: flex;
        padding: 0 26px;
        border-left: 1px solid #7ba2a3;
        align-items: center;

        .headers__iconTel {
            width: 14px;
            height: 14px;
            background-image: url(../assets/img/tel.png);
            background-position: center;
            margin-right: 6px;
        }
        .headers__textTel {
            font-family: Montserrat;
            font-size: 13px;
            color: #ffffff;
        }
    }
    .header__title {
        font-family: "Roboto";
        font-size: 38px;
        line-height: 0.55;
        color: #ffffff;
        margin-bottom: 13px;
    }
    .header__subTitle {
        max-width: 507px;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;
        margin-bottom: 22px;
    }
    .header__button {
        width: 186px;
        height: 50px;
        border-radius: 2px;
        background-color: #6fb048;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat";
        font-size: 14px;
        color: #ffffff;
    }
}
.features {
    padding: 96px 0 128px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .containerCardsOne {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        .containerCardsOne__card {
            max-width: 320px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .containerCardsOne__ioniconsIcons {
                width: 52px;
                height: 52px;
                background-image: url(../assets/img/ionicons.png);
            }
            .containerCardsOne__creativeIcon {
                width: 48px;
                height: 52px;
                background-image: url(../assets/img/colb.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .containerCardsOne__photoshopIcon {
                width: 56px;
                height: 48px;
                background-image: url(../assets/img/photoshop.png);
            }
            .containerCardsOne__title {
                font-family: "Roboto";
                font-size: 16px;
                color: #0f5f5c;
                text-align: center;
                margin: 25px 0;
            }
            .containerCardsOne__subTitle {
                font-family: Roboto;
                font-size: 14px;
                line-height: 1.57;
                text-align: center;
                color: #83a7a5;
            }
        }
    }
    .features__lineOne {
        width: 2px;
        height: 90px;
        background-color: #f2f2f2;
        margin: 0 auto;
    }
    .features__lineTwo {
        width: 90px;
        height: 2px;
        background-color: #f2f2f2;
        margin: 0 auto;
    }
    .containerCardsTwo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .containerCardsTwo__card {
            width: 45%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 53px 0 32px 0;
            .containerCardsTwo__crossBrowsIcons {
                width: 30px;
                height: 30px;
                background-image: url(../assets/img/crossB.png);
                background-position: center;
                background-size: contain;
                margin-right: 22px;
            }
            .containerCardsTwo__creativeIdeaIcon {
                width: 24px;
                height: 38px;
                background-image: url(../assets/img/lamp.png);
                background-position: center;
                background-size: contain;
                margin-right: 22px;
            }
            .containerCardsTwo__PixelPerfIcon {
                width: 32px;
                height: 32px;
                background-image: url(../assets/img/pixelP.png);
                background-position: center;
                background-size: contain;
                margin-right: 22px;
            }
            .containerCardsTwo__cloudIcon {
                width: 38px;
                height: 36px;
                background-image: url(../assets/img/cloud.png);
                background-position: center;
                background-size: contain;
                margin-right: 22px;
            }
            .containerCardsTwo__title {
                font-family: "Roboto";
                font-size: 16px;
                color: #0f5f5c;
            }
            .containerCardsTwo__subTitle {
                font-family: "Roboto";
                font-size: 14px;
                color: #83a7a5;
                margin-top: 20px;
            }
        }
    }
}
.perfectTemplate {
    background-color: #eef1ec;
    padding: 75px 0 0 0;
    .subTitle_perfectTemplate {
        margin-bottom: 22px;
    }

    .perfectTemplate__content {
        display: flex;
        justify-content: space-between;
        .perfectTemplate__img {
            width: 45%;
            height: auto;
            background-image: url(../assets/img/DOUBLECLICKPASTE.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
        }
        .perfectTemplate__text {
            width: 45%;
            padding: 126px 0 129px 0;
            .perfectTemplate__Title {
                font-family: "Roboto";
                font-size: 32px;
                font-weight: 300;
                line-height: 1;
                color: #0f5f5c;
                margin-bottom: 12px;
            }
            .perfectTemplate__SubTitle {
                font-family: "Roboto";
                font-size: 14px;
                color: #83a7a5;
                margin-bottom: 21px;
            }
            .perfectTemplate__textIcon {
                font-family: "Roboto";
                font-size: 14px;
                color: #83a7a5;
                display: flex;
                align-items: center;
                &::before {
                    content: url(../assets/img/select.png);
                    vertical-align: middle;
                    margin-right: 11px;
                }
            }
        }
    }
}
.author {
    padding: 140px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .author__text {
        width: 40%;
        font-family: "Merriweather";
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        color: #83a7a5;

        & p {
            font-family: "Roboto";
            font-size: 14px;
            line-height: 1.57;
            text-align: left;
            color: #83a7a5;
            margin-top: 27px;
            & span {
                color: #6fb048;
            }
        }
    }
    .author__img {
        width: 400px;
        height: 400px;
        background-image: url(../assets/img/Ellipse6.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.map {
    padding: 60px 0;
    background-color: #eef1ec;
    .map_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .map__text {
            width: 50%;
            & h2 {
                font-family: "Roboto";
                font-size: 32px;
                font-weight: 300;
                line-height: 1;
                color: #0f5f5c;
            }
            & p {
                font-family: "Roboto";
                font-size: 14px;
                line-height: 1.71;
                color: #83a7a5;
            }
        }
        .map__img {
            height: 252px;
            width: 530px;
            background-image: url(../assets/img/map.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
.prising {
    padding: 96px 0;
    .containerSubscription {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 760px;
        margin: 0 auto;
        .containerSubscription__card {
            width: 33.3%;
            border: 1px solid #c1d3d2;
            display: flex;
            flex-direction: column;
            padding: 30px 0;
            align-items: center;
            margin-bottom: 78px;
            .containerSubscription__name {
                font-family: "Roboto";
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                color: #6fb048;
                margin-bottom: 27px;
                text-transform: uppercase;
            }
            .containerSubscription__cash {
                font-family: "Montserrat";
                font-size: 65px;
                text-align: center;
                line-height: 1;
                font-weight: bold;
                color: #0f5f5c;
                margin-bottom: 0;
            }
            .containerSubscription__mount {
                font-family: "Roboto";
                font-size: 14px;
                text-align: center;
                color: #0f5f5c;
                margin: 0 0 25px 0;
            }
            .containerSubscription__text {
                font-family: "Roboto";
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                color: #83a7a5;
            }
            .containerSubscription__button {
                width: 140px;
                height: 42px;
                border-radius: 2px;
                background-color: #83a7a5;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                font-family: "Montserrat";
                font-size: 13px;
                color: #ffffff;
                &:hover {
                    background-color: #6fb048;
                }
            }
        }
    }
    .title_prising {
        font-size: 22px;
    }
    .containerSelect {
        display: flex;
        justify-content: space-between;
        margin-bottom: 58px;
        .containerSelect__card {
            font-family: Roboto;
            font-size: 14px;
            line-height: 1.5;
            color: #83a7a5;
            display: flex;
            justify-content: center;
            flex-direction: column;
            & p::before {
                content: url(../assets/img/select.png);
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
}
.needHelp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .needHelp__icon {
        width: 44px;
        height: 44px;
        background-image: url(../assets/img/help.png);
        margin-bottom: 16px;
    }
    .needHelp__title {
        font-family: "Roboto";
        font-size: 32px;
        font-weight: 300;
        color: #6fb048;
    }
    .needHelp__subTitle {
        margin-bottom: 37px;
        font-family: "Roboto";
        font-size: 15px;
        color: #83a7a5;
    }
    .needHelp__mail {
        font-family: "Roboto";
        font-size: 18px;
        color: #0f5f5c;
    }
}
.download {
    background-image: url(../assets/img/footBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .download__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 75px 0;
        .download__text {
            font-family: "Roboto";
            & h2 {
                font-size: 28px;
                color: #0f5f5c;
            }
            & p {
                font-size: 15px;
                color: #83a7a5;
            }
        }
        .download__button {
            width: 285px;
            height: 42px;
            border-radius: 2px;
            background-color: #6fb048;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Montserrat";
            font-weight: bold;
            font-size: 13px;
            color: #ffffff;
            border: none;
        }
    }
}
.footer {
    padding: 98px 0 0 0;
    .footer__contant {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;
        .footer__card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .footer__title {
                font-family: "Roboto";
                font-size: 13px;
                font-weight: bold;
                color: #0f5f5c;
                margin-bottom: 18px;
            }
            .wapik {
                font-family: "ProximaNova";
                font-size: 21.5px;
                font-weight: bold;
                color: #0f5f5c;
                text-transform: uppercase;
            }
            .footer__text {
                font-family: Roboto;
                font-size: 13px;
                line-height: 1;
                text-align: left;
                color: #83a7a5;
            }
            .footer__input {
                display: block;
                width: 241px;
                height: 36px;
                background-image: url(../assets/img/inpIcon.png);
                background-size: 18px 18px;
                background-repeat: no-repeat;
                background-position-x: 210px;
                padding: 0 15px;
                border-radius: 3px;
                background-color: #eef1ec;
                margin-bottom: 18px;
                border: none;
                &::placeholder {
                    font-family: "Roboto";
                    font-size: 13px;
                    color: #83a7a5;
                }
            }
        }
    }

    .footer__contantIcon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #eef1ec;
        padding: 16px 0;
        & p {
            font-family: Roboto;
            font-size: 12px;
            color: #83a7a5;
        }
        .footer__icons {
            width: 210px;
            display: flex;
            justify-content: space-between;
            .iconTwit {
                background-image: url(../assets/img/tvit.png);
                width: 30px;
                height: 30px;
            }
            .iconFace {
                background-image: url(../assets/img/facebook.png);
                width: 30px;
                height: 30px;
            }
            .iconInst {
                background-image: url(../assets/img/inst.png);
                width: 30px;
                height: 30px;
            }
            .iconDribble {
                background-image: url(../assets/img/dribbble.png);
                width: 30px;
                height: 30px;
            }
            .iconGitHub {
                background-image: url(../assets/img/github.png);
                width: 30px;
                height: 30px;
            }
        }
    }
}

@import "./aboutUs.scss";
@import "./prising.scss";
@import "./contactUs.scss";

@media (max-width: 800px) {
    .perfectTemplate {
        background-color: #eef1ec;
        padding: 75px 0 0 0;
        .perfectTemplate__content {
            flex-direction: column;
            align-items: center;
            .perfectTemplate__img {
                width: 90%;
            }
            .perfectTemplate__text {
                width: 90%;
            }
        }
    }
    .prising {
        .containerSubscription {
            display: flex;
            flex-direction: column;
            width: 320px;
            align-items: center;
            .containerSubscription__card {
                width: 100%;
            }
        }
    }

    .containerSelect {
        flex-direction: column;
        align-items: center;
    }
    .map {
        .map_container {
            flex-direction: column;
            .map__text {
                width: 90%;
            }
            .map__img {
                height: 200px;
                width: 400px;
            }
        }
    }
    .download {
        .download__content {
            flex-direction: column;
            align-items: center;
        }
    }
}
@media (max-width: 650px) {
    .author {
        flex-direction: column;
        .author__text {
            width: 90%;
        }
    }
    .footer {
        .footer__contant {
            flex-direction: column;
            align-items: center;
            .footer__card {
                width: 310px;
                align-items: center;
                margin-bottom: 30px;
                border-bottom: 1px solid rgb(100, 96, 96);
            }
        }
    }
}
@media (max-width: 420px) {
    .headers {
        .headers__tel {
            display: flex;
            padding: 0 26px;
            border-left: 1px solid #7ba2a3;
            align-items: center;
            .headers__iconTel {
                display: none;
            }
            .headers__textTel {
                display: none;
            }
        }
    }
    .prising {
        .containerSubscription {
            width: 280px;
        }
    }
    .author {
        .author__img {
            width: 300px;
            height: 300px;
        }
    }
    .map {
        .map_container {
            .map__img {
                height: 150px;
                width: 310px;
            }
        }
    }
}
